body {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

#logo {
    position: relative;
    left: 10%;
    width: 230px;
    height: 150px;
    background-color: #C7D84A;
    border-radius: 0px 0px 10px 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
}

#logotext {
    padding-top: 50px;
    line-height: 1em;
    color: #FFFFFF;
}

header {
    text-align: right;
    vertical-align: bottom;
    background: linear-gradient(to top, black, #35383D);
    height: 105px;
    border-bottom: solid 3px #8E9F00;
}

ul > li {
    display: inline-block;
    color: #FFFFFF;
    margin-top: 52px;
}

ul > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #FFFFFF;
}

ul > li:hover {
    text-decoration: none;
    background-color: #8E9F00;
    border-radius: 7px;
}

ul > li.active {
    padding: 10px;
    background-color: #8E9F00;
    border-radius: 7px;
}

#section1 {
    height: 358px;
    border-bottom: solid 1px #CDCDCD;
    background-color: #fff;
    text-align: right;
}

#section2 {
    height: 725px;
    background-color: #EAEADB;
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #CDCDCD;
}

#section3 {
    height: 15px;
    background: linear-gradient(to top, #FEFBF7, #D6E0E5);
}

#insertion1 {
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;
    position: relative;
    left: 10%;
    right: auto;
    top: 30%;
    width: 800px;
    height: 100%;
    background: linear-gradient(to top, #8D9C00, #D5E55A);
}

#insertion2 {
    border: solid 1px black;
    border-radius: 10px;
    box-shadow: 1px 1px 15px black;
    position: relative;
    left: 10%;
    top: 90%;
    width: 80%;
    height: 20%;
    background: #F7F7F7;
}