body div#maincontainer {
    background-color: #5D97AA;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

body div#maincontainer header {
    font-family: sans-serif;
    font-size: 2em;
    text-align: center;
    margin: 20px;
    padding-top: 20px;
    height: 50px;
    line-height: 50px;
}