html, body{
    height: 100%;
    padding: 0px;
    margin: 0px;
}
.wrap{
    display: flex;
    height: 100%;
}

.block{
    background: #26a082;
    color: #fff;
    font-size: 20px;
    border: 1px solid brown;
    flex-grow: 1;
}
.block2{
    background: beige;
    color: #fff;
    font-size: 20px;
    border: 1px solid brown;
    flex-grow: 2;
}