body {
    background-color: gray;
}

body div.mainContainer{
    color: floralwhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    display: -webkit-flex;
}
body div.mainContainer div.good {
    border: solid 1px darkturquoise;
    width: 100px;
    text-align: center;
    font-family: sans-serif;
    margin: 5px;
}

#num3 {
    flex-grow: 4;
}


