
@font-face {
    font-family: "20db";
    src:    url(../fonts/20db.ttf),
            url(../fonts/20db.woff);
}
body {
    font-family: Verdana, Geneva, Arial, sans-serif;
    font-size: small;
}
h1 {
    font-family: '20db';
    font-size: 220%;
}
h2 {
    font-size: 130%;
}