body {
    .electro {
        form {
            background-color: lightgrey;
            width: 500px;
            margin-left: auto;
            margin-right: auto;
            align-items: stretch;
            .flexcontainer {
                display: flex;
                justify-content: space-around;
                .itemOne {
                    font-family: sans-serif;
                    font-weight: bold;
                    margin: 5px;
                    width: 250px;
                    padding: 5px;
                    border: solid 1px gray;
                    input {
                        font-size: 12pt;
                    }
                }
            }
        }
        .processingInfo {
            width: 550px;
            height: 300px;
            padding: 5px;
            border: 1px red solid;
        }
    }
}