body {
    font-size: small;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}
h1, h2 {
<<<<<<< HEAD
    color #007e7e;
=======
    color: #007e7e;
>>>>>>> 704c48c98cbf0966c9d7081555ed027415c679ee
}
h1 {
    font-size: 150%;
}
<<<<<<< HEAD
H2 {
    font-size: 130%;
}
.guarantee {
border-color: white;
border-width: 1px;
border-style: dashed;
background-color: #a7cece;
margin: 30px;
margin-right: 250px;
padding: 25px;
padding-left: 80px;
line-height: 1.9em;
font-family: Georgia, Times New Roman, Timea, serif;
color: #444444;
font-style: italic;
background-image: url(images/background.gif);
background-repeat: no-repeat;
background-position: top left;
=======
h2 {
    font-size: 130%;
}
#guarantee {
    line-height: 1.9em;
    font-style: italic;
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #444444;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background-image: url(images/background.gif);
    background-repeat: no-repeat;
    background-position: top-left;
    border-color: white;
    border-width: 1px;
    border-style: dashed;
    background-color: #a7cece;
>>>>>>> 704c48c98cbf0966c9d7081555ed027415c679ee
}