body {
    font-size: small;
    font-family: Verdana, Helvetica, Arial, sans-serif;
    line-height: 1.6em;
}
h1, h2 {
    color #007e7e;
}
h1 {
    font-size: 150%;
}
H2 {
    font-size: 130%;
}
.guarantee1 {
border-color: white;
border-width: 1px;
border-style: dashed;
border-radius: 40px;    
background-color: #a7cece;
margin: 30px;
margin-right: 250px;
padding: 25px;
padding-left: 80px;
line-height: 1.9em;
font-family: Georgia, Times New Roman, Timea, serif;
color: #444444;
font-style: italic;
background-image: url(images/background.gif);
background-repeat: no-repeat;
background-position: top left;
}
.guarantee2 {
border-color: white;
border-width: 1px;
border-style: dashed;
border-top-left-radius: 30px;
border-bottom-left-radius: 30px;
background-color: #a7cece;
margin: 30px;
margin-right: 250px;
padding: 25px;
padding-left: 80px;
line-height: 1.9em;
font-family: Georgia, Times New Roman, Timea, serif;
color: #444444;
font-style: italic;
background-image: url(images/background.gif);
background-repeat: no-repeat;
background-position: top left;
}
.guarantee3 {
border-color: white;
border-width: 1px;
border-style: dashed;
border-radius: 40px;
border-top-left-radius: 0px;
background-color: #a7cece;
margin: 30px;
margin-right: 250px;
padding: 25px;
padding-left: 80px;
line-height: 1.9em;
font-family: Georgia, Times New Roman, Timea, serif;
color: #444444;
font-style: italic;
background-image: url(images/background.gif);
background-repeat: no-repeat;
background-position: top left;
}
.guarantee4 {
border-color: white;
border-width: 1px;
border-style: dashed;
border-radius: 2em;
border-top-left-radius: 0px;
border-bottom-right-radius: 0px;
background-color: #a7cece;
margin: 30px;
margin-right: 250px;
padding: 25px;
padding-left: 80px;
line-height: 1.9em;
font-family: Georgia, Times New Roman, Timea, serif;
color: #444444;
font-style: italic;
background-image: url(images/background.gif);
background-repeat: no-repeat;
background-position: top left;
}