@keyframes tydym {
    0% {
        background-color: green;
    }
    50% {
        background-color: darkslateblue;
    }
    100% {
        background-color: darkred;
    }
}

body {
    background: linear-gradient(cadetblue 20%, burlywood 70%, brown);
    background-attachment: fixed;
    &:hover {
        animation: tydym 3s;
    }
}